@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
  --color-primary:#90EE90;
  --color-secondary:#FF6347;
  --color-extra:#81AA94;

}
/* motham body ki */
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html,body{
  font-family: 'open Sans',sans-serif;
  line-height: 1.4;
  color: black;
}
a{
  color: black;
}
ul{
  list-style: none;
}
p{
  margin: 5px 0;
  line-height: 1.7;
}
img{
  max-width: 100%;
}








.btn{
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50px;
  padding: 7px 12px;
  text-align: center;
 
}



.btn-dark-outline:hover{
background-color: white;
}



.btn-dark{
  background-color: black;
  color: white;
}


.btn-dark:hover{
  background-color:cadetblue;
}
.reward-box{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color-primary);
  height: 200px;
  width: auto;
  box-shadow: 10px 10px 8px #888888;
 


}
/* .reward-box,.work-box1{
  display:flex;
  justify-items: flex-end;
  align-items: center;
} */


.rewards-pic-left,.work-content-lef{
  display: grid;
  grid-template-columns: 3fr 1fr;
  
}
.rewards-right{
  margin-left: 100px;
  
}
.work-box1{
  margin: 20px 20px 20px 20px;
  background-color: var(--color-secondary);
  width: auto;
  box-shadow: 10px 10px 8px #888888;
 

}
.work-content-right{
  margin-left: 100px;
  color: aliceblue;
}
.about-box{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color-primary);
  height: 100px;
  width: auto;
  box-shadow: 10px 10px 8px #888888;
 
}
/* ********************navbar************************************* */
#home:hover{
  color:red;
}
nav ul.show{
  left :0;
}
/* ***************log in**************/
.form-body{
  background-image:url("pictures/paddy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
   /* login box */
.form-center {
  display:flex;
  justify-content: center;
}
#login{
  background-color: azure;
  width:100%;
  max-width:400px;
  margin-top:10rem;
  padding-left: 2rem;
  padding-right: 2rem;

}
.form-group{
  padding: 0.5rem;
}
h3{
  text-align: center;
  padding-top: 1rem;
}
/* ********end of login page********** */